@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Lobster&family=Merriweather&family=Montserrat:wght@100;300;400;500;700;900&family=Sacramento&family=Ubuntu&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Montserrat', sans-serif;
    /* background-color: black; */
}

input {
    height: 40px;
    border: 2px solid rgb(128, 128, 128, 0.716);
    padding: 10px 15px;
}

.input:focus {
    outline: none;
    border: 2px solid black;
}

.primary {
    color: azure;
    border: none;
    padding: 7px 0;
}

i {
    cursor: pointer;
}

thead {
    background-color: rgba(128, 128, 128, 0.203);
    padding: 10px !important;
}

th {
    padding: 10px !important;
    text-align: left !important;
}

td {
    padding: 10px !important;
}

tr {
    border-bottom: 1px solid rgba(128, 128, 128, 0.203);
}

input[type='file'] {
    border: none !important;
}

.sc-beqWaB {
    border: none !important;
}

/* .button3 {
    background-color: #f44336;
    border-radius: 30%;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  
} */





/* #checkbox{
    visibility: hidden;
}

#checkbox:checked + .toggle-label .toggle-ball {
    background-color:aqua;
    transform: translate(2rem);

}

.toggle-btn{
    height: 10rem;
    
    display: flex;
align-items: center;

}

.toggle-label{
    width: 6rem;
    height: 4rem;
    background-color: white;
    display: inline-block;
    position: relative;
    border-radius: 10rem;


}
.toggle-ball{   

    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: absolute;
    top: .5rem;
    left: .5rem;
    transition: all .2s linear;

} */